{% extends 'bookbikerescue/layout/base.html' %}


{% block content %}
    
    {% include 'bookbikerescue/event/addevent.html' %} 
    




<div class="container-fluid">
    <div class="flex-date">
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ prev}}">   <span class="material-icons">
            arrow_left
            </span></a>

            {% else %}
            <a   href="{% url 'bookbikerescue:calendar' %}?{{ prev}}"> 
            
                <span class="material-icons">
                    arrow_left
                    </span>
            </a>
            {% endif%}

     
        
        <div>
            <h4>
                
                {{date }}
            </h4>
        </div>
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>
        {% else %}
        <a   href="{% url 'bookbikerescue:calendar'  %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>

        {% endif %}

    </div>
  {{calendar}}
</div>


{% endblock content %}