.env
*.pyc
__pycache__/
*.sqlite3
*.sw?
.profile
.DS_Store
venv
env/
*.sv?
agent_data.csv
*.csv
images
sfenv
.vscode

codes/media
#tmp
codes/celerybeat-schedule.db
codes/celerybeat.pid
codes/staticfiles


# PyCharm Dev
.idea
sqlite3.db

logger.log
geckodriver.log
codes/static/ringlessVoiceMail/
