Django==2.2.8
psycopg2-binary
django-cors-headers
django-model-utils
Pillow
firebase_admin
gunicorn
stripe
twilio
django-storages
channels
asgi_redis
channels_redis
djangorestframework
markdown
django-filter
boto3
django-cors-headers