<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>User Response</title>

    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body style="margin:0; padding:0; background-color:#F2F2F2;">
    <center>
        <h3 style="color: black;">User Response</h3>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
            <thead>
                <tr>
                    <th style="background-color: #4CAF50;color: white;">lesson</th>
                    <th style="background-color: #4CAF50;color: white;">lesson_type</th>
                    <th style="background-color: #4CAF50;color: white;">question</th>
                    <th style="background-color: #4CAF50;color: white;">options</th>
                    <th style="background-color: #4CAF50;color: white;">name</th>
                    <th style="background-color: #4CAF50;color: white;">answer</th>
                    <th style="background-color: #4CAF50;color: white;">latitude</th>
                    <th style="background-color: #4CAF50;color: white;">longitude</th>
                    <th style="background-color: #4CAF50;color: white;">braintree_config</th>
                    <th style="background-color: #4CAF50;color: white;">item_store</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr class="table-primary" style="border: 2px solid #dddddd;">
                    <td align="center" valign="top" style="background-color: #f2f2f2">{{i.lesson}}</td>
                    <td align="center" valign="top">{{i.flashcard.lesson_type}}</td>
                    <td align="center" valign="top" style="background-color: #f2f2f2">{{i.flashcard.question}}</td>
                    <td align="center" valign="top">{{i.flashcard.options}}</td>
                    <td align="center" valign="top" style="background-color: #f2f2f2">{{i.student.name}}</td>
                    <td align="center" valign="top">{{i.answer}}</td>
                    <td align="center" valign="top" style="background-color: #f2f2f2">{{i.latitude}}</td>
                    <td align="center" valign="top">{{i.longitude}}</td>
                    <td align="center" valign="top" style="background-color: #f2f2f2">
                        {{i.flashcard.braintree_config.id}}</td>
                    <td align="center" valign="top">{{i.flashcard.item_store.title}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>

</html>