{% extends 'manifest-layout/manifest_base.html' %}

{% block content %}

<div class="jumbotron text-center">
    {% include 'manifest-event/manifest_addevent.html' %} 
    
  
   </div>


   <a class="floating-btn" data-toggle="modal" data-target="#eventmodel" onclick="setDefaultDate()" style="text-decoration: none;">
    <span class="material-icons">
        add
        </span>
   </a>

<div class="container">
    <div class="flex-date">
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ prev}}">   <span class="material-icons">
            arrow_left
            </span></a>

            {% else %}
            <a   href="{% url 'manifest' %}?{{ prev}}"> 
            
                <span class="material-icons">
                    arrow_left
                    </span>
            </a>
            {% endif%}

     
        
        <div>
            <h4>
                
                {{date }}
            </h4>
        </div>
        {% if group %}
        <a   href="{% url 'switch-group' group %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>
        {% else %}
        <a   href="{% url 'manifest'  %}?{{ next}}">   <span class="material-icons">
            arrow_right
            </span>
        </a>

        {% endif %}

    </div>
  {{calendar}}
</div>

<!-- BrainTree -->
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
var form = document.querySelector("#payment-form");
var client_token = "{{ client_token }}";
braintree.dropin.create(
{
  authorization: client_token,
  container: "#bt-dropin",
  paypal: {
  flow: "vault",
  },
},
function (createErr, instance) {
  form.addEventListener("submit", function (event) {
  event.preventDefault();

  instance.requestPaymentMethod(function (err, payload) {
      if (err) {
      console.log("Error", err);
      return;
      }

      // Add the nonce to the form and submit
      document.querySelector("#nonce").value = payload.nonce;
      form.submit();
  });
  });
}
);
</script>

<!-- script for toggling display of the form -->
<script type="text/javascript">
function toggleDisplay() {
var x = document.getElementById("collapseStripe");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}
}
</script>
<script>
  function setDate(day,year,month) {
    if(day<10){
        day='0'+day;
    } 
    if(month<10){
      month='0'+month;
    } 

    var today = year+'-'+month+'-'+day;                
    document.getElementById("date").value =today+"";
  }
  function setDefaultDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd;
    } 
    if(mm<10){
        mm='0'+mm;
    } 
    today = yyyy+'-'+mm+'-'+dd;                
    document.getElementById("date").value =today+"";
  }
  </script>
{% endblock content %}