button.btn.btn-success.btn-custom.login-button {
    margin: 20px;
  }
  
  .table_students {
    background: lightslategray;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95% !important;
    margin: 10px;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px !important;
  }
  
  p {
    margin-left: 10px !important;
    text-shadow: 7 0 BLACK;
    font-weight: 600;
  }
  
  .modal-content {
    /* width: 90%; */
    /* align-content: center; */
    margin: 20px;
  }
  
  p.logout {
    padding: 10px 25px 0px 0px;
    text-align: right;
  }
  
  th {
    color: black;
    text-align: center !important;
  }
  
  td {
    color: black;
    text-align: center;
  }
  
  .add-students {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .modal-content {
    margin: 0 !important;
  }
  
  .modal-header .close {
    margin-top: 5px !important;
  }
  
  .add-button {
    padding-top: 10px;
  }